<html>
    <body>
        <h3>Menu Page</h3>

            <a href="/serchPage">Search for movies</a>
            <a href="/createMoviePage">Create new movie</a>

            < % if(user.isAdmin {%> //only for admin
                <a href="/editUsersPage">edit users</a>
            })
            
    </body>
</html>